body {
	background-color: lightgrey;
}

h1 {
	text-align: center;
}

.inlineList li {
	display: inline;
	padding-right: 3em;
}

#leftSideFloat {
 	display: inline-block;
	float: left;

}

#rightSideFloat {
	display: inline-block;
	float: right;
}

#clear {
	clear: both;
}