body {
	background-color: lightgrey;
}

h1 {
	text-align: center;
}

h3 {
	text-decoration: underline;
}

header p:nth-child(1) {
	display: inline-block;
	margin-left: 20%;
	margin-right: 20%;
}

header p:nth-child(2) {
	display: inline-block;
}

.inlineList li {
	display: inline;
	padding-right: 3em;
}

.leftSideFloat {
 	display: inline-block;
	float: left;
	width: 50%;
}


.rightSideFloat {
	display: inline-block;
	float: right;
	width: 50%;
}

.centerText {
	text-align: center;
}

.clear {
	clear: both;
}