h1 {
	background-color: lightgrey;
	text-align: center;
}

#leftSideFloat {
 	display: inline-block;
	float: left;

}

#rightSideFloat {
	display: inline-block;
	float: right;
}

#clear {
	clear: both;
}